body{
	font-family:Architects daughter;
	
	background-image:url("img_lights.jpg");
	
	 height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	
	text-align: center;

}
#section,#me,#hobbies,#paint,#footer{
	width:980 px;
	margin: 50px 50px;
	box-shadow:5px 10px;
	border-radius:15px;
	background: white;
	opacity:0.6;
	font-size:20px;
	transition: width 2s;
	font-weight:bold;
	
}

ul{
	text-align:center;
	list-style-type: none;
	margin-right:50px;
}
li{
	display:inline-block;
	margin-left:20px;
}
a{
	padding:6px;
	text-decoration: none;


}
.first{
	width:200px;
	height:270px;
	text-align:center;
	border-radius:2px;
	
	
}

.contact
{
	width:50px;
	height:50px;
	transition-width:2s;
}
#me{
	
	padding:10px;
}
#hobbies,#paint{
	
	padding:10px;
}
#me:hover{
     
	opacity:1;

}
#paint:hover{opacity:1;
	}
#footer:hover{
	opacity:1;
}
#hobbies:hover{
	opacity:1;
}
.contact:hover{
	width:75px;
	height:75px;
}
#paint img{
	width:100px;
	height:125px;
	transition-width:2s;
}
#paint img:hover{
	width:400px;
	height:500px;
}

